### Environments & Dependencies ###
.venv
stubs
.python-version
__pypackages__/
node_modules/

### Compiled & Cached Files ###
__pycache__/
*.py[cod]
*.so
.cache/
.ruff_cache/
.mypy_cache/

# Vim
*.swp

# Other
*~

### OS Specific ###
# macOS
.DS_Store
